* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 50px;
}

.time-display {
    font-size: 1.75rem;
}

.stop-btn, .reset-btn, .start-btn {
    font-size: 0.75rem;
}